*
{
    background-color: antiquewhite;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.titlu 
{
    text-align: center;
    color: blue;
    line-height: 40px;
    word-spacing: 3px;
}

.titlu.principal
{
    font-size: 60px;
    text-shadow: 10px;
    text-decoration: underline;
}
.titlu.secundar
{
    text-decoration: wavy;
    margin-bottom: 100px;

}

#micapoezie
{
    text-align: center;
    word-spacing: 5px;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    border:2px solid black;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    width: 400px;
    margin-left: 450px;
}
#micapoezie .strofa-2 , .strofa3, .strofa4
{
    background-color: black;
}
#micapoezie .buton
{
    background-color: brown;
    color:yellow;
    padding: 5px;
}


.poza.doi
{
    height: 300px;
    width: auto;
}

.poza.trei
{
    height: 300px;
    width: 350px;
}

.poza
{
    margin-top: 80px;
}

.titlul3
{
    margin-top: 150px;
    font-size: 100px;
    text-align: center;
    text-decoration: aquamarine;
    font: bold;
    margin-bottom: 100px;
}

.pomana .aldoilea
{
    background-color: blue;
    color: aqua;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    display: block;
    margin-bottom: 60px;
}